{% extends 'base.html.twig' %}


{% block title %}Snowtricks - regénération du mot de passe{% endblock %}


{% block body %}
<h3>{{ name|capitalize }}, resaisissez votre mot de passe :</h3>

<div class="well">
  {{ form_start(formSnowboarder, {'attr': {'class': 'form-horizontal'}}) }}

  {# Les erreurs générales du formulaire. #}
  {{ form_errors(formSnowboarder) }}


  
    
    {# password #}
  <div class="form-group">
    {{ form_label(formSnowboarder.password, "new password", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(formSnowboarder.password) }}

    <div class="col-sm-10">
      {# Génération de l'input. #}
      {{ form_widget(formSnowboarder.password, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    
    

    
    
  {{ form_end(formSnowboarder) }}
</div>
{% endblock %}



